In [ ]:
# oop
# fast and slow
# data analysis

In [6]:
# Object oriented program
print(type(1))
print(type(int))
print('welcome')

class Animal:
    pass

print(Animal)

<class 'int'>
<class 'type'>
welcome
<class '__main__.Animal'>

In [ ]:
# functions that you need 
print()  # Output
# dir()
# help()
# type()

In [7]:
# `dry concept
# do not Repeat Yourself
# concatenate
variable = False  #placeholder any object
number = 1
boolean= False

# print('My name is variable')
# print('variable is here')
# print('variable like python')
# print('is he variable')
# print('variable like python')
# print('is he variable')


# concatenate strings 
# print('My name is' +' ' + variable)
print(f'My name is  {variable}')
print('My name is  {}'.format(variable))
print('My name is  %' %variable)

My name is  False
My name is  False
My name is  0

In [2]:
_demola = 'Xemola'
Demola = 'Xemola'
demola = 'Xemola'
_ = 'Xemola' #
# 1varible = 'Xemola' # < Error
a,_ = 'Ademola', 'Ade' # unpacking
print(a)
# print(b)

Ademola

In [10]:
# import this

In [23]:
# Data Types 
# primitive. ---> int str bool Floats 
# Non-primitve --> tuple sets dict, list, Namedtuples Orderdict, deque, Frozensets

integer = 1
integer2 = 3000
integer3 = 10.00


Strings = 'I am STRING'
Strings2 = "I am STRING"


booolean1 = True
booolean2 = False


print(type(integer))
print(type(integer2))
print(type(integer3))
print(type(Strings))
print(type(Strings2))
print(type(booolean1))

<class 'int'>
<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'bool'>
<class 'bool'>

In [39]:
# integer4 = '3000'
# print(type(integer4))

# new_interger = int(integer4)
# print(type(new_interger))


# new_string = str(integer4)
# print(type(new_string))

new_digit = True
new_bool = int(new_digit)
print(type(float(new_digit)))
print(new_bool)

<class 'int'>
1

In [54]:
# Employee Saidatech ---> First_name  last_name Age gender position 20employees
first_name = 'john'
last_name = 'doe'
age = 10
gender = 'm'
position = 'Manger'


Employee1 = ['john', 'doe',10,'m', 'manager'] # list
# Employee1 = ['john', 'doe',10,'m', 'manager'] # list
# Employee1 = ['john', 'doe',10,'m', 'manager'] # list
# Employee1 = ['john', 'doe',10,'m', 'manager'] # list
# Employee1 = ['john', 'doe',10,'m', 'manager'] # list
# Employee1 = ['john', 'doe',10,'m', 'manager'] # list
# Employee1 = ['john', 'doe',10,'m', 'manager'] # list

# mutable and iterable
Employee1[0] = 'Ade'
print(Employee1[0], 'first')
print(Employee1[1])
print(Employee1[2])
print(Employee1[3])
print(Employee1[4], 'fourth')

# for index, value in enumerate(Employee1):
#     # print(index, value)
#     print(Employee1[index], index)

Ade first
doe
10
m
manager fourth

In [49]:
print(f'{first_name} {last_name}')
print(f'{Employee1[0]} {Employee1[1]}')

john doe
john doe

Ade 0
doe 1
10 2
m 3
manager 4